
@model FPT.ViewModels.System.Users.LoginRequest
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Login Adminstator</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="icon" href="https://fpt.com.vn/Content/home/images/favicon.png" type="image/x-icon">
</head>
<body style="background-color: rgba(0,0,0,0.033); ">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center text-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5" style="border-radius: 15px!important; height: 100%; top: 5%">

								<div class="card-header text-center font-weight-light my-4" style="background-color: white">
									<img src="https://fpt.com.vn/Content/home/images/icon/ic-logo.png" alt="FPTlogo" width="80" height="50">
									<h3 style="font-weight: 700">Sign In</h3>
									<p>Using FPT Training Adminstator Account</p>

								</div>
								<div class="card-body">
									<form asp-action="Index" asp-controller="Login" method="post">

										<div asp-validation-summary="All" class="text-danger"></div>

										<div class="form-group">

											<input class="form-control py-4" asp-for="UserName" type="text" placeholder="Username" />
											<span asp-validation-for="UserName" class="text-error"></span>
										</div>
										
										<div class="form-group">

											<input class="form-control py-4" asp-for="Password" type="password" placeholder="Password" />
											<span asp-validation-for="Password" class="text-error"></span>
										</div>
										
										<div class="form-group  text-center justify-content-between mt-4 mb-0">

											<button style=" width: 150px!important; border-radius: 70px !important" class="btn btn-primary" type="submit">Log In</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>